/* styles.css */
body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png'); /* textura madera suave */
  background-color: #fceeea; /* rosado claro */
  color: #2b2b2b;
  line-height: 1.6;
  padding: 20px;
}

header {
  background-color: #e4d9db;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
  color: #4a4a4a;
}

h1, h2 {
  color: #8c5e8c; /* rosa perlado/violeta pastel */
}

ul li {
  margin-bottom: 10px;
}

button {
  background-color: #accbee; /* azul claro */
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #90b6e5;
}

.galeria {
  display: none;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 15px;
}

.grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
